<nav>
		<div class="container py-2">
			<div class="row">
				<div class="col text-start">
					<img
						class="airbnb-logo"
						src="/images/logo-airbnb.png"
						alt="Airbnb"
					/>
				</div>
				<div class="col text-end">
					<a href="#" class="btn btn-outline-secondary">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							style="width: 15px; border-radius: 100%"
						/>Mohammed</a
					>
					<a href="#" class="btn btn-outline-secondary">Logout</a>
				</div>
			</div>
		</div>
	</nav>
