<nav>
		<div class="container py-2">
			<div class="row">
				<div class="col text-start">
					<img
						class="airbnb-logo"
						src="/images/logo-airbnb.png"
						alt="Airbnb"
					/>
				</div>
				<div class="col text-end">
					<a href="#" class="btn btn-outline-secondary">
						<img
							style="width: 15px; border-radius: 100%"
						/>{{user.name}}</a
					>
					<a href="/auth/logout" class="btn btn-outline-secondary">Logout</a>
					{{else}}
					<a href="/auth/logout" class="btn btn-outline-secondary">Login</a>
				</div>
			</div>
		</div>
	</nav>
