<body>
    <div class="login-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card mx-auto text-center mt-5" style="width: 22rem;">
              <div class="center text-center mt-5">
                <img
                  src="/images/logo-airbnb.png"
                  class="airbnb-logo"
                  alt="Airbnb"
                />
              </div>
              <div class="card-body text-start">
                <form>
                  <div class="mb-1">
                    <label class="form-label mb-0">Email</label>
                    <input type="email" class="form-control" />
                    <label class="form-label mb-0 mt-3">Password</label>
                    <input type="password" class="form-control" />
                    <button type="button" class="btn btn-success mt-3">
                      <small>Login</small>
                    </button>
                    <div class="mt-3">
                      <small><strong>New to Airbnb?</strong></small>
                      <a href="signup.html"><small>Signup</small></a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
