<div class="container">
	<div class="row my-4">
		<div class="col">
			<img src="/images/logo-airbnb.png" style="width:150px" />
		</div>
		<div class="col text-end">
			<a href="#" class="btn btn-outline-secondary">
				<img
					src="https://randomuser.me/api/portraits/men/11.jpg"
					style="width: 15px; border-radius: 100%"
				/>Mohammed</a
			>
			<a href="#" class="btn btn-outline-secondary">Logout</a>
		</div>
	</div>
</div>
<form>
	<div class="bg-light p-2">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="input-group">
						<span class="input-group-text"
							><i class="fa-solid fa-location-dot"></i
						></span>
						<select class="form-select" aria-label="Default select example">
							<option selected>Any Location</option>
							<option>Any Location</option>
							<option>Koh Samui</option>
							<option>Koh Phangan</option>
							<option>Bali</option>
						</select>
					</div>
				</div>

				<div class="col">
					<div class="input-group">
						<span class="input-group-text"
							><i class="fa-solid fa-house"></i
						></span>
						<select class="form-select" aria-label="Default select example">
							<option selected>Any Rooms</option>
							<option>Any Rooms</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="input-group mb-3">
						<span class="input-group-text"
							><i class="fa-solid fa-dollar-sign"></i
						></span>
						<input
							type="number"
							class="form-control"
							placeholder="max price"
							name="price"
						/>
					</div>
				</div>
				<div class="col">
					<div class="input-group">
						<span class="input-group-text"
							><i class="fa-solid fa-sort"></i
						></span>
						<select class="form-select" aria-label="Default select example">
							<option selected>Price (high to low)</option>
							<option>Price (low to high)</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="input-group flex-nowrap">
						<input type="text" class="form-control"
						placeholder="Housename..." 'aria-label="Housename"'
						aria-describedby="addon-wrapping">
					</div>
				</div>
				<div class="col">
					<div class="input-group">
						<button type="button" class="btn btn-success">Search</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<!-- card -->
<div class="container">
	<div class="row row-cols-4">
		<div class="col mb-4">
			<div class="card" style="width: 18rem;">
				<img
					src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
					class="card-img-top"
				/>
				<div class="card-body">
					<h5 class="card-title">Luxury Villa in Chaweng</h5>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img
					src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_02.png"
					class="card-img-top"
				/>
				<div class="card-body">
					<h5 class="card-title">Private Villa Lotus 1</h5>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img
					src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_03.png"
					class="card-img-top"
				/>
				<div class="card-body">
					<h5 class="card-title">Seminyak KuDeTa Beach</h5>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img
					src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_04.png"
					class="card-img-top"
				/>
				<div class="card-body">
					<h5 class="card-title">5 Bed Villa Canggu</h5>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img
					src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_05.png"
					class="card-img-top"
				/>
				<div class="card-body">
					<h5 class="card-title">Archie Village House</h5>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img
					src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_06.png"
					class="card-img-top"
				/>
				<div class="card-body">
					<h5 class="card-title">Luxury 6 Beds Villa</h5>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img
					src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_07.png"
					class="card-img-top"
				/>
				<div class="card-body">
					<h5 class="card-title">Narivana Koh Phangan</h5>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
</div>
