{{ > nav}}
<div class="container">
		<div class="row my-4">
			<div class="col">
				<img src="/images/logo-airbnb.png" style="width:150px" />
			</div>
			<div class="col text-end">
				<a href="#" class="btn btn-outline-secondary">
					<img
						src="https://randomuser.me/api/portraits/men/11.jpg"
						style="width: 15px; border-radius: 100%"
					/>Mohammed</a
				>
				<a href="#" class="btn btn-outline-secondary">Logout</a>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- left side -->
		<section class="border-top"></section>
		<div class="col">
			<img
				src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2002/house_02_01.png"
				style="width: 750px"
			/>
		</div>
		<!-- right side -->
		<div class="col">
			<div class="row row-cols-3">
				<div class="col p-4">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2003/house_03_01.png"
						style="width: 150px"
					/>
				</div>
				<div class="col p-4">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2007/house_07_01.png"
						style="width: 150px"
					/>
				</div>
				<div class="col p-4">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295027/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2008/house_08_01.png"
						style="width: 150px"
					/>
				</div>
				<div class="col p-4">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_06.png"
						style="width: 150px"
					/>
				</div>
				<div class="col p-4">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_07.png"
						style="width: 150px"
					/>
				</div>
				<div class="col p-4">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_08.png"
						style="width: 150px"
					/>
				</div>
				<div class="col p-4">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_09.png"
						style="width: 150px"
					/>
				</div>
				<div class="col p-4">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
						style="width: 150px"
					/>
				</div>
				<div class="col p-4">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_02.png"
						style="width: 150px"
					/>
				</div>
			</div>
		</div>
	</div>
	<section class="border-top"></section>
	<!--left side -->
	<div class="container">
		<div class="row">
			<div class="col-8">
				<h2>Luxury Villa in Chaweng</h2>
				<small>Koh Samui 4 Rooms</small>
				<p>
					Stylish, tropical, luxurious, airy and absolute stunning view over
					the bay of Chaweng Beach, this villa combines form and function,
					enjoying magnificent views of Samui’s small islands and the sea
					beyond. With 520sqm of indoor/outdoor living space with 7 ensuite
					bedrooms, large living area, infinity pool, garden, air conditioned
					gym, professional pool table, bbq and Sala, this villa is perfect
					for up to 14 adults With 260sqm (2798sqfeet) of living space and
					260sqm of outdoor space.
				</p>
				<h2>0 Reviews</h2>
				<small>Leave a review</small>
				<div class="form-floating">
					<textarea
						class="form-control"
						placeholder="Leave a comment here"
						id="floatingTextarea2"
						style="height: 100px"
					></textarea>
					<label for="floatingTextarea2"></label>
				</div>
				<i class="fa-solid fa-thumbs-up"></i>
				<i class="fa-solid fa-thumbs-down"></i>
				<div>
					<div class="btn btn-success">Submit</div>
				</div>
			</div>
			<!-- right side -->
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<h2 class="card-title">$350/night</h2>
						<small>0 Reviews</small>
						<textarea
							class="form-control"
							placeholder="Send the host a message..."
							id="floatingTextarea2"
							style="height: 100px"
						></textarea>
						<a href="#" class="btn btn-success">Request Booking</a>
					</div>
				</div>
			</div>
		</div>
	</div>
